{% extends 'base/base.html' %}
{% block title %} Register {% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <h1> Login </h1><br>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Please Enter Your Username">
                  </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Please Enter Your Password">
                  </div>
                <a href="{% url 'forget_password' %}" style="text-decoration: None"> Forget Password </a>
                <br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

    </div>
{% endblock %}