{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<h1 style="margin-left: 80px"> Tweets </h1>


    <div class="container">
        <div class="row">
            <div class="col-8">

                {% for tweet in user_tweets %}
                    <div class="card offset-md-2" style="width: 40rem;border-radius: 5px 5px 5px 5px">
                        {% if tweet.image_tweet %}
                            <img src="{{ tweet.image_tweet.url }}" class="card-img-top" >
                        {% endif %}

                        <div class="card-body " style="background-color: #9fe5e7; width: 40rem;border-radius: 0px 0px 5px 5px">
                            <p class="card-text text-center" >
                                <b> {{ tweet.text_tweet }} </b><br>

                                {% if tweet.user.profile.profile_image %}
                                    <img src="{{ tweet.user.profile.profile_image.url }}"
                                         style="width: 40px;height: 40px; border-radius: 50%;">
                                {% else %}
                                    <img src="{% static 'profile.jpg' %}"
                                         style="width: 40px;height: 40px; border-radius: 50%;">
                                {% endif %}
                                                        &nbsp;
                                <small> ({{ tweet.create_at }}) By
                                    <a href="{% url 'profile_detail' tweet.user_id %}" style="text-decoration: None">
                                        <b>@{{ tweet.user.username }}</b>
                                    </a>  {{ tweet.number_like }}
                                </small>

                                {% if user in tweet.like.all %}
                                    <a href="{% url 'like' tweet.id %}" style="text-decoration: None">
                                        <i class="bi bi-heart-fill" style="color: red"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'like' tweet.id %}" style="text-decoration: None">
                                        <i class="bi bi-heart" style="color: red"></i>
                                    </a>
                                {% endif %}

                                {% if user.is_authenticated %}
                                    <a href="{% url 'reply_tweet' tweet.id %}" style="text-decoration: None">
                                        <i class="bi bi-reply-fill" style="color: black"></i>
                                    </a>
                                {% endif %}
                            </p>
                                                {#Tags#}
                            <p class="card-text">
                            <b> tags: </b>
                                <small>
                                    <i>
                                    {% for tag in tweet.tags.all %}
                                        {{ tag }} -
                                    {% endfor %}
                                    </i>
                                </small>
                            </p>

                        </div>
                    </div>
                    <br>



                        {% for main_reply in tweet.replytweet_set.all %}
                            {% if tweet.id == main_reply.tweet_id %}
                                <div class="card offset-md-0" style="width: 40rem;border-radius: 5px 5px 5px 5px">

                                    <div class="card-body " style="background-color: #c7c6c6; width: 40rem;border-radius: 0px 0px 5px 5px">
                                        <p class="card-text text-center" >
                                            <b> {{ main_reply.text }} </b><br>

                                            {% if main_reply.user.profile.profile_image %}
                                                <img src="{{ main_reply.user.profile.profile_image.url }}"
                                                     style="width: 40px;height: 40px; border-radius: 50%;">
                                            {% else %}
                                                <img src="{% static 'profile.jpg' %}"
                                                     style="width: 40px;height: 40px; border-radius: 50%;">
                                            {% endif %}
                                                                    &nbsp;
                                            <small> ({{ main_reply.create_date }}) By
                                                <a href="{% url 'profile_detail' main_reply.user_id %}" style="text-decoration: None">
                                                    <b>@{{ main_reply.user.username }}</b>
                                                </a>
                                            </small>

                                            {% if user.is_authenticated %}
                                                <a href="{% url 'reply_reply' tweet_id=main_reply.tweet_id parent_id=main_reply.id %}" style="text-decoration: None">
                                                    <i class="bi bi-reply-fill" style="color: black"></i>
                                                </a>
                                            {% endif %}
                                        </p>
                                        <small> {% if main_reply.parent %}
                                                Reply To: ({{ main_reply.parent }})
                                            {% else %}
                                            Reply To: ({{ main_reply.tweet.text_tweet}})
                                           {% endif %}
                                        </small>

                                    </div>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}


                {% endfor %}






        </div>
        {% if user.is_authenticated %}
              <div class="col-4">
                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-dark"> Tweet! </button>
                </form>
            </div>
        {% endif %}
    </div>
</div>



{% endblock %}