{% extends 'base/base.html' %}
{% load static %}
{% block title %} Profile List {% endblock %}


{% block content %}

{% if profile %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 style="margin-left: -650px"> {{ profile.user.username }}'s Profile</h1><br>

            {% for tweet in tweets %}
            <div class="card offset-md-2" style="width: 30rem;">
                {% if tweet.image_tweet %}
                    <img src="{{ tweet.image_tweet.url }}" class="card-img-top" >
                {% endif %}
                <div class="card-body" style="background-color: #d2cece">
                    <p class="card-text text-center" >
                        <b> {{ tweet.text_tweet }} </b><br>
                        <small> ({{ tweet.create_at }}) By @{{ tweet.user.username }} &nbsp; {{ tweet.number_like }}</small>
                    {% if user in tweet.like.all %}
                        <a href="{% url 'like' tweet.id %}" style="text-decoration: None">
                            <i class="bi bi-heart-fill" style="color: red"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'like' tweet.id %}" style="text-decoration: None">
                            <i class="bi bi-heart" style="color: red"> </i>
                        </a>
                    {% endif %}
                        &nbsp;
                    {% if request.user.username == profile.user.username %}
                        <a href="{% url 'delete_tweet' tweet.id %}" style="text-decoration: None; color: black">
                            <span class="bi bi-trash3-fill"></span>
                        </a>
                        &nbsp;
                        <a href="{% url 'edit_tweet' tweet.id %}" style="text-decoration: None; color: black">
                            <span class="bi bi-pencil-square"></span>
                        </a>
                        &nbsp;
                        <a href="{% url 'archive_tweet' tweet.id %}" style="text-decoration: None; color: black">
                            <span class="bi bi-archive"></span>
                        </a>
                    {% endif %}
                    </p>

                 {#Tags#}
                    <p class="card-text ">
                    <b> tags: </b>
                        <small>
                            <i>
                            {% for tag in tweet.tags.all %}
                                {{ tag }}
                            {% endfor %}
                            </i>
                        </small>
                    </p>
                </div>
            </div><br>
            {% endfor %}

            </div>

            <div class="col-4 text-center">
                <div class="row">

                    {% if profile.profile_image %}
                    <img class="img-thumbnail" src="{{ profile.profile_image.url }}" style="width: 400px">
                    {% endif %}
                </div>
                <br>


                    {% if profile.facebook_link %}
                        <a href="{{ profile.facebook_link }}" class="bi bi-facebook"></a>
                    {% endif %}
                    &nbsp;
                    {% if profile.instagram_link %}
                        <a href="{{ profile.instagram_link }}" class="bi bi-instagram"></a>
                    {% endif %}
                        &nbsp;
                    {% if profile.linkedin_link %}
                        <a href="{{ profile.linkedin_link }}" class="bi bi-linkedin"></a>
                    {% endif %}
                        <br><br>

                                            {#Follows#}

                    <div class="card text-bg-light mb-3" style="max-width: 24rem; ">
                      <div class="card-header"> <b> Follows </b> </div>
                      <div class="card-body">
                        {% for follow in profile.follows.all|slice:5 %}
                            <a href="{% url 'profile_detail' follow.user.id %}" style="text-decoration: None"> {{ follow }}</a>
                            {% if user.id == profile.user_id %}
                            <a href="{% url 'unfollow' follow.user.id %}" style="text-decoration: None">
                                <i class="bi bi-person-dash"></i>
                            </a>
                            {% endif %}
                            <br>
                        {% endfor %}

                      </div>
                        <div class="card-footer">
                            <a href="{% url 'follower' profile.user.id %}" style="text-decoration: None">See All</a>
                        </div>
                    </div>
                <br>



                                                {#Follow By#}

                    <div class="card text-bg-light mb-3" style="max-width: 24rem; ">
                      <div class="card-header"> <b> Follow By </b> </div>
                      <div class="card-body">
                        {% for follow in profile.follow_by.all|slice:5 %}
                            <a href="{% url 'profile_detail' follow.user.id %}" style="text-decoration: None"> {{ follow }}</a>
                            {% if user.id == profile.user_id %}
                            <a href="{% url 'follow' follow.user.id %}" style="text-decoration: None">
                                <i class="bi bi-person-add"></i>
                            </a>
                            {% endif %}
                            <br>
                        {% endfor %}
                      </div>
                        <div class="card-footer">
                            <a href="{% url 'following' profile.user.id %}" style="text-decoration: None">See All</a>
                        </div>
                    </div>
                <br>

                <form method="post">
                    {% csrf_token %}
                    {% if profile in user.profile.follows.all %}
                        <button type="submit" class="btn btn-outline-danger" name="follow_name" value="unfollow">
                            Unfollow {{ profile.user.username }}
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-success" name="follow_name" value="follow">
                            Follow {{ profile.user.username }}
                        </button>
                    {% endif %}
                </form>

                <br>

                <a href="{% url 'update_profile'%}">
                    <button type="submit" class="btn btn-outline-info" name="follow_name" value="follow">
                        Update Profile
                    </button>
                </a>

            </div>


        </div>
    </div>



{% endif %}


{% endblock %}