{% extends 'base/base.html' %}
{% load static %}
{% block title %} Profile List {% endblock %}


{% block content %}

{% if profile %}
    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <h1 style="margin-left: -650px"> {{ profile.user.username }}'s Profile</h1><br>

            {% for tweet in tweets %}
            <div class="card offset-md-2" style="width: 30rem;">
                {% if tweet.image_tweet %}
                    <img src="{{ tweet.image_tweet.url }}" class="card-img-top" >
                {% endif %}
                <div class="card-body" style="background-color: #d2cece">
                    <p class="card-text" >
                        <b> {{ tweet.text_tweet }} </b><br>
                        <small> ({{ tweet.create_at }}) By @{{ tweet.user.username }} </small>
                    </p>
                </div>
            </div><br>
            {% endfor %}

            </div>

            <div class="col-4">
                <div class="row">
                    {% if profile.profile_image %}
                    <img class="img-thumbnail" src="{{ profile.profile_image.url }}" style="width: 400px">
                {% endif %}
                    <br><br>
                </div>
                <br>


                                            {#Follows#}

                    <div class="card text-bg-light mb-3" style="max-width: 24rem; ">
                      <div class="card-header"> <b> Follows </b> </div>
                      <div class="card-body">
                        {% for follow in profile.follows.all|slice:5 %}
                            <a href="{% url 'profile_detail' follow.user.id %}"> {{ follow }}</a>
                            {% if user.id == profile.user_id %}
                            <a href="{% url 'unfollow' follow.user.id %}">
                                <i class="bi bi-person-dash"></i>
                            </a>
                            {% endif %}
                            <br>
                        {% endfor %}

                      </div>
                        <div class="card-footer"> See All </div>
                    </div>



                                                {#Follow By#}

                    <div class="card text-bg-light mb-3" style="max-width: 24rem; ">
                      <div class="card-header"> <b> Follow By </b> </div>
                      <div class="card-body">
                        {% for follow in profile.follow_by.all|slice:5 %}
                            <a href="{% url 'profile_detail' follow.user.id %}"> {{ follow }}</a>
                            {% if user.id == profile.user_id %}
                            <a href="{% url 'follow' follow.user.id %}">
                                <i class="bi bi-person-add"></i>
                            </a>
                            {% endif %}
                            <br>
                        {% endfor %}
                        <p class="card-text"> </p>
                      </div>
                        <div class="card-footer"> See All </div>
                    </div>

                <form method="post">
                    {% csrf_token %}
                    {% if profile in user.profile.follows.all %}
                        <button type="submit" class="btn btn-outline-danger" name="follow_name" value="unfollow">
                            Unfollow {{ profile.user.username }}
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-success" name="follow_name" value="follow">
                            Follow {{ profile.user.username }}
                        </button>
                    {% endif %}
                </form>

            </div>


        </div>
    </div>



{% endif %}


{% endblock %}