{% extends 'base/base.html' %}
{% load static %}
{% block title %} Profile List {% endblock %}


{% block content %}

<h1 style="margin-left: 80px"> Search User </h1><br>

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <input type="search" class="form-control" name="search_tweet" placeholder="Search Tweet"><br>
            <button type="submit" class="btn btn-dark"> Search </button>
        </form><br>
    </div>



{% for result in search_db %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">

        {% for tweet in search_db %}
            <div class="card offset-md-2" style="width: 40rem;">
                {% if tweet.image_tweet %}
                    <img src="{{ tweet.image_tweet.url }}" class="card-img-top" >
                {% endif %}

                <div class="card-body" style="background-color: #d2cece; width: 40rem">
                    <p class="card-text">
                        <b> {{ tweet.text_tweet }} </b><br>

                        {% if tweet.user.profile.profile_image %}
                            <img src="{{ tweet.user.profile.profile_image.url }}"
                                 style="width: 40px;height: 40px; border-radius: 50%;">
                        {% else %}
                            <img src="{% static 'profile.jpg' %}"
                                 style="width: 40px;height: 40px; border-radius: 50%;">
                        {% endif %}

                            &nbsp;

                        <small> ({{ tweet.create_at }}) By
                            <a href="{% url 'profile_detail' tweet.user_id %}" style="text-decoration: None">
                                <b>@{{ tweet.user.username }}</b>
                            </a>  {{ tweet.number_like }}
                        </small>
                            {% if user in tweet.like.all %}
                                <a href="{% url 'like' tweet.id %}" style="text-decoration: None">
                                    <i class="bi bi-heart-fill" style="color: red"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'like' tweet.id %}" style="text-decoration: None">
                                    <i class="bi bi-heart" style="color: red"></i>
                                </a>
                            {% endif %}
                    </p>
                </div>
            </div><br>
        {% endfor %}
        </div>



    </div>
</div>

{% endfor %}


{% endblock %}